@font-face {
  font-family: HelveticaNeueLTPro-Th;
  src: url(../fonts/HelveticaNeueLTPro-Th.otf);
}
* {
  box-sizing: border-box;
}
body {
  background: #3a3a3a url(../img/background.png) no-repeat center top fixed;
  background-size: cover;
  font-family: Verdana, Geneva, sans-serif;
}
p {
  color: #858585;
  text-align: justify;
  font-size: 12px;
  line-height: 18px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 850px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
}
.header-logo {
  display: flex;
  flex-direction: column;
  width: 187px;
  color: #bababa;
}
.header-logo__title {
  display: flex;
  height: 38px;
  text-shadow: 1px 1px 2px black;
  font-size: 36px;
  font-family: "HelveticaNeueLTPro-Th";
}
.header-logo__title--color {
  color: #00a2e5;
}
.header-logo__description {
  color: #b3b3b3;
  text-align: right;
  font-size: 11px;
  font-family: Verdana, Geneva, sans-serif;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 520px;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
}
.header-menu__list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 18px;
  color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
}
.header-menu__item--active a,.header-menu__list a:hover {
  background: linear-gradient(to bottom, #0f8cc0 0%,#60abf8 83%,#7abcff 100%);
  color: #fefefe;
}
.container {
  padding: 15px;  
  min-height: calc(100vh - 120px - 236px);
  width: 100%;
  border: 16px solid rgba(255, 255, 255, 0.1);
  background-color: #ececec;
  background-clip: padding-box;
  box-shadow: 0 0 0 1px #626262;
}
.slider {
  position: relative;
  display: flex;
  padding: 6px;
  width: 100%;
  height: 205px;
  border: 1px solid #e4e4e4;
  background: #0e8fc8 url(../img/slider_bg.png) no-repeat center top fixed;
  background-clip: content-box;
  background-size: cover;
}
.slider__image {
  padding: 20px 7px 20px 20px;
}
.slider__text {
  overflow: hidden;
  padding-right: 30px;
  color: #fff;
}
.slider__text h2 {
  margin: 0;
  padding: 42px 0 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0f7da9;
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 24px;
}
.slider__text p {
  margin: 0;
  color: #fff;
  font-size: 12px;
}
.slider__button {
  position: absolute;
  top: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #fff;
}
.slider__button a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  background: linear-gradient(to bottom, #e3e3e3 0%,#f7f7f7 84%,#f7f7f7 100%);
  text-decoration: none;
}
.slider__button i {
  color: #8c8c8c;
  font-size: 18px;
}
.slider__button-left{
  left: -1.5%;
}
.slider__button-right{
  right: -1.5%;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.left-sidebar {
  position: relative;
  padding-right: 15px;
  width: 35.5%;
}
.left-sidebar:after{
  position:absolute;
  top: 23px;
  right: 0;
  height: 87%;
  border-right: 1px solid #e4e4e4;
  content:"";
}
.left-sidebar__title,.main h1{
  margin: 21px 0 12px;
  color: #0b81be;
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 24px;
}
.left-sidebar__list {
  margin: 15px 0; 
  padding-left: 10px;
}
.left-sidebar__list li{
  display: inline-block;
  padding: 10px 7px 10px 0px;
  border-bottom: 1px solid #e4e4e4;  
  color: #858585;
  list-style-type: none;
  font-style: italic;
  font-size: 12px;
}
.left-sidebar__list li:first-child{
  padding-top: 0;
}
.left-sidebar__list li:last-child{
  border-bottom: 0px; 
}
.left-sidebar__item::before {
  padding-right: 10px;
  color: #0b81be;
  content: "\f105"; 
  font-weight: 900;
  font-style: normal;
  font-family: "Font Awesome 5 Free";
}
.main {
  padding-left: 23px;
  width: calc(100% - 35.5%);
}
.main--text-changes {
  color: #424242;
  font-style: italic;
}
.bottom-sidebar {
  display: flex;
  flex: 1 1 50%;
  margin-top: 10px;
  width: 100%;
  border: 5px solid #fff;
  background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 59%,#f2f2f2 100%);
  box-shadow: 0 0 0 1px #e4e4e4;
}
.bottom-slider__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-right: 1px solid #eaeaea;
}
.bottom-slider__item:last-child {
  border-right: 0;
}
.bottom-slider__item__text {
  padding-left: 16px;
}
.footer {
  margin-top: 50px;
  width: 100%;
  height: 236px;
  border: 1px solid #4b4b4b;
  background-color: rgba(0, 0, 0, 0.4);
}
.footer-wrapper {
  flex-flow: row wrap;
  height: 100%;
}
.twitter {
  width: 293px;
}
.twitter__icon {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.twitter__icon__title {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  letter-spacing: -1px;
}
.twitter__icon__title__name {
  color: #fff;
  font-size: 24px;
}
.twitter__icon__title__description {
  color: #727272;
  font-size: 12px;
}
.twitter__slogan {
  margin: -10px 0 0 38px;
  padding: 22px 18px 0 14px;
  min-height: 150px;
  background: url(../img/bg_text_twitter.png) no-repeat;
}
.twitter__slogan__date {
  color: #0b81be;
  font-style: italic;
  font-size: 10px;
}
.twitter__slogan__text {
  margin-bottom: 18px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 293px);
}
.footer-top-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 38px;
  height: 138px;
}
.footer-top-side__text {
  color: #fff;
  font-size: 11px;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
}
.footer-header-logo {
  padding-top: 16px;
}