@font-face {
  font-family: HelveticaNeueLTPro-Th;
  src: url(../fonts/HelveticaNeueLTPro-Th.otf);
}
* {
  box-sizing: border-box;
}
body {
  background: #3a3a3a url(../img/background.png);
  font-family: Verdana, Geneva, sans-serif;
}
p {
  color: #858585;
  text-align: justify;
  font-size: 12px;
  line-height: 18px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 850px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
  width: 100%;
}
.header-logo {
  display: flex;
  flex-direction: column;
  width: 187px;
  color: #bababa;
}
.header-logo__title {
  display: flex;
  height: 38px;
  text-shadow: 1px 1px 2px black;
  font-size: 36px;
  font-family: "HelveticaNeueLTPro-Th";
}
.header-logo__title--color {
  color: #00a2e5;
}
.header-logo__description {
  color: #b3b3b3;
  text-align: right;
  font-size: 11px;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 520px;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
}
.header-menu__list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 16px;
  color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
}
.header-menu__item--active a,.header-menu__list a:hover {
  background: linear-gradient(to bottom, #0f8cc0 0%,#60abf8 83%,#7abcff 100%);
  color: #fefefe;
}
.container {
  padding: 0;  
  width: 100%;
  border: 16px solid rgba(255, 255, 255, 0.1);
  background-color: #ececec;
  background-clip: padding-box;
  box-shadow: 0 0 0 1px #626262;
}
.slider {
  padding: 15px;
}
.slider--wrapper {
  position: relative;
  display: flex;
  padding: 6px;
  width: 100%;
  height: 205px;
  border: 1px solid #e4e4e4;
  background: #0e8fc8 url(../img/slider_bg.png) no-repeat center top fixed;
  background-clip: content-box;
  background-size: cover;
}
.slider__image {
  padding: 20px 7px 20px 20px;
}
.slider__text {
  overflow: hidden;
  padding-right: 30px;
  color: #fff;
}
.slider__text h2 {
  margin: 0;
  padding: 42px 0 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0f7da9;
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 24px;
}
.slider__text p {
  margin: 0;
  color: #fff;
  font-size: 12px;
}
.slider__button {
  position: absolute;
  top: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #fff;
}
.slider__button a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  background: linear-gradient(to bottom, #e3e3e3 0%,#f7f7f7 84%,#f7f7f7 100%);
  text-decoration: none;
}
.slider__button i {
  color: #8c8c8c;
  font-size: 18px;
}
.slider__button-left{
  left: -1.5%;
}
.slider__button-right{
  right: -1.5%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0;
}
.left-sidebar {
  position: relative;
  padding-right: 15px;
  width: 35.5%;
}
.left-sidebar:after{
  position:absolute;
  top: 23px;
  right: 0;
  height: 87%;
  border-right: 1px solid #e4e4e4;
  content:"";
}
.left-sidebar__title,.main h1{
  margin: 10px 0;
  color: #0b81be;
  letter-spacing: -2px;
  font-weight: normal;
  font-size: 24px;
}
.left-sidebar__list {
  margin: 15px 0; 
  padding-left: 10px;
}
.left-sidebar__list li{
  display: inline-block;
  padding: 10px 7px 10px 0px;
  border-bottom: 1px solid #e4e4e4;  
  color: #858585;
  list-style-type: none;
  font-style: italic;
  font-size: 12px;
}
.left-sidebar__list li:first-child{
  padding-top: 0;
}
.left-sidebar__list li:last-child{
  border-bottom: 0px; 
}
.left-sidebar__item::before {
  padding-right: 10px;
  color: #0b81be;
  content: "\f105"; 
  font-weight: 900;
  font-style: normal;
  font-family: "Font Awesome 5 Free";
}
.main {
  padding-left: 23px;
  width: calc(100% - 35.5%);
}
.main--text-changes {
  color: #424242;
  font-style: italic;
}
.bottom-sidebar {
  display: flex;
  flex: 1 1 50%;
  margin-top: 10px;
  width: 100%;
  border: 5px solid #fff;
  background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 59%,#f2f2f2 100%);
  box-shadow: 0 0 0 1px #e4e4e4;
}
.bottom-sidebar__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-right: 1px solid #eaeaea;
}
.bottom-sidebar__item:last-child {
  border-right: 0;
}
.bottom-sidebar__item__text {
  padding-left: 16px;
}
.footer {
  margin-top: 50px;
  min-height: 236px;
  width: 100%;
  border: 1px solid #4b4b4b;
  background-color: rgba(0, 0, 0, 0.4);
}
.footer-wrapper {
  flex-flow: row wrap;
  height: 100%;
}
.twitter {
  width: 293px;
}
.twitter__icon {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.twitter__icon__title {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  letter-spacing: -1px;
}
.twitter__icon__title__name {
  color: #fff;
  font-size: 24px;
}
.twitter__icon__title__description {
  color: #727272;
  font-size: 12px;
}
.twitter__slogan {
  position: relative;
  margin: -20px 0 0 38px;
  min-height: 150px;
}
.twitter__slogan__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: min-content;
}
.twitter__slogan__text {
  padding: 38px 18px 0px 20px;
}
.twitter__slogan__date {
  position: absolute;
  bottom: 44px;
  padding-left: 20px;
  color: #0b81be;
  font-style: italic;
  font-size: 10px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 293px);
}
.footer-top-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 38px;
  height: 138px;
}
.footer-top-side__text {
  color: #fff;
  font-size: 11px;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
}
.footer-header-logo {
  padding-top: 13px;
}

/* all lower down CSS rules to media-requests for button-hamburger */

.hamburger {
  position: relative;
  left: calc(100% - 50px);
  display: none;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.burger-main {
  position: absolute;
  padding: 13px 10px;
  width: 50px;
  height: 50px;
}
.burger-inner {
  position: relative;
  width: 30px;
  height: 24px;
}
.burger-main span {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
}
.top {
  top: 0;
  transform-origin: 29px 0px;
}
.bot {
  bottom: 0;
  transform-origin: 31px 3px;
}
.mid {
  top: 10px;
}
.svg-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.circle {
  width: 50px;
  height: 50px;
}
.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}
.hamburger.open .path {
  animation: dash-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .path {
  animation: dash-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.open .top {
  animation: close-top-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.open .bot {
  animation: close-bot-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .top {
  animation: close-top-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .bot {
  animation: close-bot-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.open .mid {
  animation: burger-fill-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .mid {
  animation: burger-fill-in 0.6s linear normal;
}
.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  -webkit-mask: url(#mask);
  mask: url(#mask);
  -webkit-mask-box-image: url(http://dev.awsm.in/codepen/mask.svg);
}
.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.path-rotation {
  margin: 34px 34px 0 0;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.path-rotation:before {
  display: block;
  margin: 0 4px 0 0;
  width: 30px;
  height: 34px;
  background: #fff;
  content: '';
}
.hamburger.open .animate-path {
  animation: circle-in 0.6s linear normal;
  animation-fill-mode: forwards;
}
.hamburger.closed .animate-path {
  animation: circle-out 0.6s linear normal;
  animation-fill-mode: forwards;
}
.svg-circle {
  position: absolute;
  top: -21px;
  left: -21px;
  width: 72px;
  height: 72px;
}
@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@keyframes close-top-out {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    top: 0;
    left: 0;
    transform: rotate(15deg);
  }
  80% {
    top: 0;
    left: -5px;
    transform: rotate(-60deg);
  }
  100% {
    top: 1px;
    left: -5px;
    transform: rotate(-45deg);
  }
}
@keyframes close-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}
@keyframes close-top-in {
  0% {
    left: -5px;
    transform: rotate(-45deg);
    bot: 0;
  }
  20% {
    left: -5px;
    transform: rotate(-60deg);
    bot: 0;
  }
  80% {
    left: 0;
    transform: rotate(15deg);
    bot: 0;
  }
  100% {
    left: 0;
    transform: rotate(0deg);
    bot: 1px;
  }
}
@keyframes close-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}
@keyframes burger-fill-in {
  0% {
    left: 36px;
    width: 0;
  }
  40% {
    left: 40px;
    width: 0;
  }
  80% {
    left: -6px;
    width: 36px;
  }
  100% {
    left: 0px;
    width: 36px;
  }
}
@keyframes burger-fill-out {
  0% {
    left: 0px;
    width: 36px;
  }
  20% {
    left: -6px;
    width: 42px;
  }
  40% {
    left: 40px;
    width: 0;
  }
  100% {
    left: 36px;
    width: 0;
  }
}
@keyframes circle-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 850px) {
  .header {
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
  }
  .header-menu {
    padding-top: 20px;
  }
  .footer-wrapper {
    flex-flow: column wrap;
    padding: 0 30px;
  }
  .twitter {
    width: 100%;
  }
  .footer-text {
    width: 100%;
  }
  .footer-top-side {
    align-items: center;
    padding-top: 0;
    height: 80px;
  }
  .footer-header-menu {
    padding-top: 0;
  }
  .footer-icons {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 200px;    
  }
}
@media (max-width: 720px) {
  .header {
    justify-content: center;
  }
  .header-logo {
    margin: 38px 0;
  }
  .header-menu {
    padding-top: 0;
    padding-bottom: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .header-menu__list {
    display: none;
    width: 100%;
  }
  .header-menu__list a {
    border-radius: 0;
  }
  .hamburger {
    display: block;
  }
  .header-menu__list.open {
    display: block;
  }
  .header-menu__list.closed {
    display: none;
  }
  .content {
    flex-direction: column;
  }
  .left-sidebar {
    padding-right: 0;
    width: 100%;
  }
  .main {    
    order: -1;    
    padding-left: 0;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
  }
  .left-sidebar__item {
    width: 100%;
  }
  .left-sidebar:after {
    display: none;
  }
  .bottom-sidebar {
    flex-direction: column;
  }
  .bottom-sidebar__item {
    border-right: none;
    border-bottom: 1px solid #eaeaea;
  }
  .bottom-sidebar__item:last-child {
    border-bottom: none;
  }
  .footer-top-side {
    height: 15px;
  }
  .footer-header-menu {
    display: none;
  }
  .footer-header-logo {
    margin: 0;
  }
}
@media (max-width: 668px) {
  .slider__text p {
    display: none;
  }
}
@media (max-width: 480px) {
  .slider {
    display: none;
  }
  .main h1 {
    margin-top: 0;
  }
}